@media screen and (min-width: 1024px){
        
    /* ------------------- Main container for all grids ------------------- */
    .container{  
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
        gap: 15px;
        max-width: 1024px;
        padding: 15px;
        margin: 15px;
        grid-template-areas:
          "header header"
          "personal skills"
          "education experience"
          "contact experience";
        transition: all 0.6s ease-in-out;
    }
}